// Colors...

$primary-color: #20bf7d;
$green-color: #1fbf7d;
$light-color: #f7f7f7;
$dark-blue: #040b1f;
$white-smoke: #efefef;
$grey-color: #747474;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$primary-font: 'PT Sans', sans-serif;
$open-sans: 'Open Sans', sans-serif;
